<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UoABook | Profile</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
        <script>
            window.onload=function(){
                var box = document.getElementById("msgBox");
                box.scrollTop = box.scrollHeight;
            }
            var lastS = 0;
            $(document).ready(function(){
                $('#msgBox').on('scroll', function(){
                    lastS = this.scrollTop;
                })
                
                setInterval(function(){
                    $("#msgBody").load(document.URL + ' #msgBody', function(){
                        $('#msgBox').scrollTop(lastS);
                    })}, 2000);
                
                setInterval(function(){
                    $("#users").load(document.URL + ' #users')}, 1000);
            });
        </script>
        
    </head>
    <body >
        <script src="myscripts.js"></script> 
        <ul class="header">
            <div class="logo">
                <a href="/profile">
                    <img src = "http://gemeinde-lambrechtshagen.de/wp-content/uploads/Objektveranwortlicher.png" width="40" height="40">
                </a>
            </div>
            <div style="float: left; margin-left: 30%;width: 600px;">
                    <form action="/viewProfile">
                        <input required style="float: left;
                        width: 50%;
                        border: 3px solid #00B4CC;
                        padding: 5px;
                        height: 26px;
                        border-radius: 5px;
                        outline: none;
                        margin-top: 4px;
                        color: #9DBFAF;" type="text" id="searchUser" name="searchUser" placeholder="Search Users">
                        <button class="profileBtn">Go</button>
                    </form>
                </div>

            <div>
                <p class="name">{{fullname}}</p>
            </div>
            <div>
                <a href="/edit">
                    <img class="profilePic" id="dpImg" src = {{picture}}>
                </a>
            </div>
        </ul>
        <section>
        <div  id="users">
            <div class="gg">
                {% for key,user in response.iteritems() %}
                    <a href="/getUsername/?nameOfUser={{user.username}}">
                        <button class="usersOn">{{user.username}}</button>
                    </a>
                {% endfor %}
            
            </div>
        </div>

        <div id="msgBody">
            <div class="gg2" >
                <form action="/messageSender">
                    <h1 style="text-align: center">{{name}}</h1>
                    
                    <div id="msgBox" class="messageHistory">
                        {% for msg in msgs %}
                            <div class="msgs">

                                <h1>{{msg.sender}}:</h1>
                                <p >{{msg.message}}</p>
                                <p style = "text-align: right; margin-right: 10px;">{{msg.stamp}}</p>
                                <object type={{content_type}} data={{filename}} width="100" height="100"></object> 
                            </div>
                        {% endfor %}
                    </div>
                    
                    <input name="message" class="messageBox" type="text" placeholder="Type your message here">
                    <div class="upDiv">
                        <input name="fileName" id="fileUp" class="fileBox" type="file" placeholder="Link your file here">
                        <label for="fileUp">Browse...</label>
                    </div>
                    <button class="msgBtn"></button>
                    
                </form>
            </div>  
        </div>    
        </section>
    </body>
</html>

<style>
    label {
        cursor: pointer;
    }
    
    .upDiv{
        margin-top: 10px;
        height: 35px;
        width: 10%;
        background-color: pink;
        float: left;
        text-align: center;
        padding-top: 20px;
        border-radius: 15px;
    }
    
    #fileUp {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .profileBtn{
        border-radius: 5px;
        background-color: rgb(31, 158, 216); 
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition: all 0.5s;
        float: left;
        
    }
    .msgs{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgb(50, 151, 197);
        min-height: 80px;
        padding-left: 10px;
        padding-top: 5px;
        border-radius: 20px;
        height: auto;
    }
    .msgs h1{
        margin-top: 0;
        font-size: 16px;
        color: black;
    }
    
    .messageBox{
        margin-top: 10px;
        height: 50px; 
        width: 86%;
        border: none; 
        background: transparent; 
        border-top: 1px solid rgb(220,220,220); 
        font-size: 14px;
        padding-left: 5px;
        float: left;
    }
    .fileBox{
        margin-top: 10px;
        height: 50px; 
        width: 30%;
        border: none; 
        background: transparent; 
        border-top: 1px solid rgb(220,220,220); 
        font-size: 14px;
        padding-left: 5px;
        float: left;
        
        
    }
    .messageHistory{
        overflow: auto;
        height: 720px;
        
        background-color: rgb(255, 255, 255);
    }
    .msgBtn{
        background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/1015742-200.png");
        margin-top: 12px;
        border: none;
        outline: none;
        float: left;
        height: 50px;
        width: 50px; 
        cursor: pointer;
        background-size:cover;
    }
    .usersOn{
        width:100%; 
        height: 150px;
        outline: none;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        border: none;
        border-bottom: 1px solid rgb(220,220,220);
    }

    .usersOn:hover{
        background-color: rgb(236, 236, 236);
    }

    .logo{
        float: left;
    }

    body{
        margin: 0;
        padding: 0;
        background-color: rgb(240, 240, 240);
    }
    .header{
        background-color: rgb(255,255,255);
        color: rgb(0, 0, 0);
        list-style: none;
        text-align: right;
        padding: 20px 250px 20px 250px;
        border-bottom: 1px solid rgb(220,220,220);
        height: 40px;
        margin: 0;
    }
    .name{
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        float: right;
    }
    .profilePic{
        border-radius: 5%;
        width: 50px;
        height: 50px;
        object-fit: cover;
        float: right;
        margin-right: 20px;
        bottom:100px;
    }
    .gg{
        float:left;
        height:900px; 
        width:20%;
        overflow:auto;
        background-color: rgb(255, 255, 255); 
        border-right: 1px solid rgb(220,220,220)
    }
    .gg2{
        float:left;
        height:900px; 
        width:79.9%; 
        background-color:rgb(255, 255, 255)
    }
    
    .buttonNames{
        width: 100%;
        height: 150px;
    }
    body{
        background-color: black;
    }
    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }
    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

    .container img.right {
        float: right;
        margin-left: 20px;
        margin-right:0;
    }

    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }
    .time-right {
        float: right;
        color: #aaa;
    }
    .time-left {
        float: left;
        color: #999;
    }

</style>


