<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UoABook | Profile</title>
    </head>
    <body>
        <script src="myscripts.js"></script> 
        <ul class="header">
            <div class="logo">
                <a href="/profile">
                    <img src = "http://gemeinde-lambrechtshagen.de/wp-content/uploads/Objektveranwortlicher.png" width="40" height="40">
                </a>
            </div>
            <div style="float: left; margin-left: 30%;width: 600px;">
                <form action="/viewProfile">
                    <input required style="float: left;
                    width: 50%;
                    border: 3px solid #00B4CC;
                    padding: 5px;
                    height: 26px;
                    border-radius: 5px;
                    outline: none;
                    margin-top: 4px;
                    color: #9DBFAF;" type="text" id="searchUser" name="searchUser" placeholder="Search Users">
                    <button class="profileBtn">Go</button>
                </form>
            </div>
            <form action="/logoutConfirm">
                <div>
                    <button class="logoutBtn">Log Out</button>
                </div>
            </form>
            
            <div>
                <a href="/edit">
                    <img class="userPic" id="dpImg" src = {{picture}}>
                </a>
            </div>
        </ul>
        <section>
            <div class="coverPic">
                <img style="height: 400px; width: 100%; object-fit: cover; object-position: bottom" id="coverImg" src = "https://wallpaper-house.com/data/out/10/wallpaper2you_427207.jpg">
            </div>
            <div class="profileDiv">
                <img class="profilePic" id="dpImg" src = {{userPic}}>
            </div>
            <div class="infoDiv">
                <h1>{{fullname}}</h1>
                <p>{{description}}</p>
                <p>Position: {{position}}</p>
                <p>Location: {{location}}</p>
                <p>Encoding: {{encoding}}</p>
                <p>Encryption: {{encryption}}</p>
                <p>Decryption Key: {{decryptionKey}}</p>
                <p>Last Updated: {{lastUpdated}}</p>
            </div>
        </section>
       
    </body>
</html>

<style>
    h1, p{
        color: #000000"
    }
    body{
        margin: 0;
        padding: 0;
        background-color: rgb(240, 240, 240);
    }
    .header{
        background-color: rgb(255,255,255);
        color: rgb(0, 0, 0);
        list-style: none;
        text-align: right;
        padding: 20px 250px 20px 250px;
        border-bottom: 1px solid rgb(220,220,220);
        height: 40px;
        margin: 0;
    }
    .logo{
        float: left;
    }
    .logoutBtn{
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition: all 0.5s;
        float: right;
    }
    .userPic{
        border-radius: 5%;
        width: 50px;
        height: 50px;
        object-fit: cover;
        float: right;
        margin-right: 10px;
        bottom:100px;
    }
    .coverPic{
        opacity: 0.8;
    }
    .profileDiv{
        position: relative;
        padding-left: 50px;
        height: 110px;
        float: left;
    }
    .profilePic{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        position: relative;
        bottom:100px;
        border: 5px solid rgb(31, 158, 216, 0.6);
    }
    .infoDiv{
        position: relative;
        padding-left: 50px;
        min-height: auto;
        width: 80%;
        float: left;
        left: 15px;
        top: 10px;
        background-color: rgb(143, 143, 143);
        border-radius: 25px;
    }
    .profileBtn{
        border-radius: 5px;
        background-color: rgb(31, 158, 216); 
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition: all 0.5s;
        float: left;
    }
    
    
</style>


